In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
path_beh = '/media/data/HCPAging/HCPAgingBehavior/'
path_data = '/media/data/HCPAging/data/'

In [3]:
df_cog = pd.read_csv(path_beh+'cogcomp01.txt', sep='\t')
df_cog.drop([0], inplace = True)
df_cog = df_cog[['src_subject_id', 'nih_totalcogcomp_unadjusted', 
                 'nih_crycogcomp_unadjusted','nih_fluidcogcomp_unadjusted']]
#df_cog.insert(loc=2, column='age_Yrs', value=(np.array(df_cog['interview_age'], dtype=int)/12).round())
df_cog = df_cog.rename(columns={'src_subject_id':'subject'})
df_cog.index=df_cog['subject']
df_cog = df_cog.drop('subject', axis=1)
df_cog = df_cog.sort_index(axis=0)
df_cog['nih_fluidcogcomp_unadjusted'] = df_cog['nih_fluidcogcomp_unadjusted'].replace('999', np.nan) 
df_cog = df_cog.dropna()
display(df_cog)

,nih_totalcogcomp_unadjusted,nih_crycogcomp_unadjusted,nih_fluidcogcomp_unadjusted
subject,,,
HCA6002236,112,111,111
HCA6010538,107,123,90
HCA6018857,109,108,108
HCA6030645,96,103,91
HCA6047359,120,123,111
...,...,...,...
HCA9943504,93,101,88
HCA9947411,93,92,97
HCA9953406,116,118,110
HCA9956008,121,118,119
HCA9992517,102,112,92

In [4]:
725-614

111

In [5]:
df_dem = pd.read_csv(path_beh+'ndar_subject01.txt', sep='\t')
print(df_dem.columns)

Index(['collection_id', 'ndar_subject01_id', 'dataset_id', 'subjectkey',
       'src_subject_id', 'interview_date', 'interview_age', 'sex', 'race',
       'ethnic_group',
       ...
       'tourettes_disorder', 'sample', 'race_other', 'respond',
       'date_confirmed_phenotype', 'pos_years', 'position1', 'timepoint_label',
       'trt_grp_desc', 'collection_title'],
      dtype='object', length=139)

In [ ]:
df_dem = pd.read_csv(path_beh+'ndar_subject01.txt', sep='\t')
df_dem.drop([0], inplace = True)
df_dem = df_dem[['src_subject_id','interview_age', 'sex', 'race','ethnic_group', 'family_user_def_id']]
df_dem = df_dem.rename(columns={'src_subject_id':'subject'})
df_dem.index=df_dem['subject']
df_dem = df_dem.drop('subject', axis=1)
df_dem = df_dem.sort_index(axis=0)
#display(df_dem)

In [7]:
dct_mov={}
for file in sorted(glob.glob('/media/data/HCPAging/data/3T_*/movement_*')):
    dct_mov[file.split('/')[-2].split('_')[-1]] = pd.read_csv(file, index_col=0, header=None,squeeze=True)
    dct_mov[file.split('/')[-2].split('_')[-1]].name = file.split('/')[-2].split('_')[-1]

ix = sorted(set(dct_mov['REST'].index))
for key in dct_mov.keys():
    if key != 'REST':
        ix = sorted(set(np.concatenate((ix, sorted(dct_mov[key].index)), axis=None)))  
        
df_mov = pd.DataFrame({'ix':ix}, index=ix)
for key in dct_mov.keys():
    df_mov = pd.concat([df_mov, dct_mov[key]], axis=1)
df_mov.drop(['ix'], axis=1, inplace = True)
df_mov = df_mov.dropna(axis=0)
df_mov.columns = ['rest', 'carit', 'face', 'vism']
display(df_mov)

                      rest     carit      face      vism
HCA6002236_V1_MR  0.221969  0.151912  0.163308  0.163655
HCA6018857_V1_MR  0.121793  0.126189  0.112233  0.088389
HCA6030645_V1_MR  0.103096  0.077005  0.086018  0.069048
HCA6047359_V1_MR  0.137728  0.093139  0.078572  0.097031
HCA6051047_V1_MR  0.119103  0.087871  0.089190  0.083807
...                    ...       ...       ...       ...
HCA9947411_V1_MR  0.157572  0.115994  0.085319  0.071216
HCA9953406_V1_MR  0.043692  0.034927  0.049143  0.030207
HCA9956008_V1_MR  0.056615  0.065858  0.068382  0.076350
HCA9986825_V1_MR  0.148619  0.041540  0.044727  0.024838
HCA9992517_V1_MR  0.085252  0.044195  0.069222  0.039608

[711 rows x 4 columns]

In [8]:
iddx_mov = [i[:10] for i in df_mov.index]

In [9]:
df_mov.index = iddx_mov

In [10]:
df_rest = pd.read_csv('/media/data/HCPAging/data/3T_REST/FC_rest_group_z_hpass.csv', index_col=0)
df_carit1 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_CARIT/CARIT_group_table_con1.csv', index_col=0)
df_carit3 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_CARIT/CARIT_group_table_con3.csv', index_col=0)
df_carit4 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_CARIT/CARIT_group_table_con4.csv', index_col=0)
df_caritFC = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_CARIT/CARIT_task_FC.csv', index_col=0)

df_face1 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_FACENAME/FACENAME_group_table_3EV_con1.csv', index_col=0)
df_face2 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_FACENAME/FACENAME_group_table_3EV_con2.csv', index_col=0)
df_face3 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_FACENAME/FACENAME_group_table_3EV_con3.csv', index_col=0)
df_face4 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_FACENAME/FACENAME_group_table_3EV_con4.csv', index_col=0)
df_face5 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_FACENAME/FACENAME_group_table_3EV_con5.csv', index_col=0)
df_face6 = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_FACENAME/FACENAME_group_table_3EV_con6.csv', index_col=0)
df_faceFC = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_FACENAME/FACENAME_task_FC_3EV.csv', index_col=0)

df_vism = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_VISMOTOR/VISMOTOR_group_table.csv', index_col=0)
df_vismFC = pd.read_csv('/media/data/HCPAging/data/3T_tfMRI_VISMOTOR/VISMOTOR_task_FC.csv', index_col=0)

In [11]:
for dataset in [df_rest, df_carit1, df_carit3, df_carit4, df_caritFC, 
                df_face1, df_face2, df_face3, df_face4, df_face5, df_face6, 
                df_faceFC, df_vism, df_vismFC ]:
    dataset.index = [i[:10] for i in dataset.index]

In [12]:
dct_struct = {}
for file in sorted(glob.glob('/media/data/HCPAging/data/3T_Structural/*.csv')):
    data = pd.read_csv(file, index_col=0)
    iddx_d = [i[:10] for i in data.index]
    data.index = iddx_d
    dct_struct[file.split('/')[-1].split('.')[0]] = data

In [13]:
dct_struct.keys()

dict_keys(['cortical_area', 'cortical_thickness', 'subcortical_volume', 'total_brain_volume'])

In [14]:
len(df_faceFC.index)

717

In [18]:
subjects = sorted(list(
set(df_mov.index) &
set(df_rest.index) &
set(df_carit1.index) &
set(df_carit3.index) &
set(df_carit4.index) &
set(df_caritFC.index) &
set(df_face1.index) &
set(df_face2.index) &
set(df_face3.index) &  
set(df_face4.index) &
set(df_face5.index) &
set(df_face6.index) &  
set(df_faceFC.index) &     
set(df_vism.index) &
set(df_vismFC.index) &   
set(dct_struct['cortical_area'].index) &
set(dct_struct['cortical_thickness'].index) &
set(dct_struct['subcortical_volume'].index) &
set(dct_struct['total_brain_volume'].index) 
))
print(len(subjects))

710

In [18]:
'''subjects = sorted(list(
set(df_mov.index) &
set(df_rest.index) &
set(df_carit.index) &
set(df_face.index) &
set(df_vism.index) &
set(dct_struct['cortical_area'].index) &
set(dct_struct['cortical_thickness'].index) &
set(dct_struct['subcortical_volume'].index) &
set(dct_struct['total_brain_volume'].index) 
))
print(len(subjects))'''
#710

710

In [19]:
QS_tab = pd.read_csv('/media/data/HCPAging/Doc/HCA_LS_2.0_subject_completeness.csv')[['src_subject_id', 'QC_Issue_Codes']]
QS_tab.drop([0], axis=0, inplace = True)
display(QS_tab)
subj_to_del = QS_tab[QS_tab['QC_Issue_Codes'].isin(['A', 'B1a', 'B1b', 'B1c', 'B2a', 'B2b', 'B2c', 'B2d', 'B3'])]['src_subject_id']

    src_subject_id QC_Issue_Codes
1       HCA6002236            NaN
2       HCA6010538            NaN
3       HCA6018857            NaN
4       HCA6030645            NaN
5       HCA6047359            NaN
..             ...            ...
721     HCA9947411            NaN
722     HCA9953406             C5
723     HCA9956008            NaN
724     HCA9986825             B3
725     HCA9992517            NaN

[725 rows x 2 columns]

In [42]:
QS_tab[QS_tab['QC_Issue_Codes'].isin(['A', 'B1a', 'B1b', 'B1c', 'B2a', 'B2b', 'B2c', 'B2d', 'B3'])].dropna()

    src_subject_id QC_Issue_Codes
10      HCA6061757             B3
11      HCA6062456             B3
16      HCA6089375             B3
25      HCA6111241            B2b
28      HCA6120646             B3
..             ...            ...
699     HCA9800885            B1b
701     HCA9845403            B2b
702     HCA9865005             B3
707     HCA9882308             B3
724     HCA9986825             B3

[117 rows x 2 columns]

In [21]:
for sd in subj_to_del:
    #sd = sd+'_V1_MR'
    if sd in subjects:
        #print(sd,' in subj')
        subjects.remove(sd)

In [22]:
print(len(subjects))

595

In [41]:
710-595

115

In [23]:
cog_ind =df_cog.dropna().index#[ i+'_V1_MR' for i in df_cog.dropna().index]

In [24]:
subjects = sorted(set(cog_ind) & set(subjects))
len(subjects)

504

In [28]:
path_out = '/media/data/HCPAging/data/MLTablesMultCon/'

In [29]:
datasets = [df_mov,
df_rest,
df_carit1,
df_carit3,
df_carit4,
df_caritFC,
df_face1,
df_face2,
df_face3,
df_face4,
df_face5,
df_face6, 
df_faceFC,    
df_vism,
df_vismFC,
dct_struct['cortical_area'],
dct_struct['cortical_thickness'],
dct_struct['subcortical_volume'],
dct_struct['total_brain_volume'],
df_dem,
df_cog]

In [30]:
name_dsets = ['movements.csv',
'rest_hpass.csv',
'carit-con1.csv',
'carit-con3.csv',
'carit-con4.csv',
'CARIT_taskFC.csv',
'FACENAME_group_table_3EV_con1.csv',
'FACENAME_group_table_3EV_con2.csv',
'FACENAME_group_table_3EV_con3.csv',
'FACENAME_group_table_3EV_con4.csv',
'FACENAME_group_table_3EV_con5.csv',
'FACENAME_group_table_3EV_con6.csv',
'FACENAME_task_FC_3EV.csv',
'vism.csv',
'VISMOTOR_taskFC.csv',
'surf.csv',
'cort.csv',
'subc.csv',
'VolBrain.csv',
'demography.csv',
'cognition.csv']

In [32]:
for dataset, name_dset in zip(datasets, name_dsets):
    dataset.reindex(index=subjects).to_csv(path_out+name_dset)

In [ ]:
ffdem = df_dem.reindex(index=subjects)
#display(ffdem)

In [32]:
ffdem['interview_age'].astype('int').mean()

693.938492063492

In [34]:
ffdem['interview_age'].astype('int').mean() / 12

57.82820767195767

In [35]:
ffdem['interview_age'].astype('int').std()

170.9573737650415

In [36]:
ffdem['interview_age'].astype('int').std() / 12

14.246447813753457

In [38]:
len(ffdem['sex'][ffdem['sex'] == 'F'])

293